  .box1{
    width:50vw;
    border: 2px solid black;
    padding: 20px;
    margin: 300px auto;
    gap: 10px;
    border-radius: 5px;
    background-color: rgb(252, 140, 4);
 }

 .box1 h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
   color: rgb(249, 18, 1);
 }

 .box1 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .box1 form input {
    height: 4vh;
    border-radius: 5px;
   padding-left: 10px;
   background-color: rgb(253, 220, 164);
 }

 .box1 form .btntoggle {
    background-color: transparent;
    border: none;
    position: absolute;
    left: 68%;
    top: 54.5%;
 }



  .box1 form .btn {
    width: 15vw;
    height: 4vh;
    margin: auto;
    display: block;
    border-radius: 5px;
    background-color: rgb(249, 108, 105);
 }

  @media screen and (min-width:520px){
     .box1 form .btntoggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    left: 69%;
    top: 44.7%;
 }


 }

 @media screen and (min-width:600px){
     .box1 form .btntoggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    left: 65%;
    top: 45.5%;
 }


 }

 @media screen and (min-width:750px){
     .box1 form .btntoggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    left: 63%;
    top: 45.5%;
 }

  .box1{
    width:40vw;
    border: 2px solid black;
    padding: 20px;
    margin: 300px auto;
    gap: 10px;
    border-radius: 5px;
    background-color: rgb(252, 140, 4);
 }



 }

 @media screen and (min-width:980px){
     .box1 form .btntoggle {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    left: 65%;
    top: 45.5%;
 }

  .box1{
    width:40vw;
    border: 2px solid black;
    padding: 20px;
    margin: 300px auto;
    gap: 10px;
    border-radius: 5px;
    background-color: rgb(252, 140, 4);
 }



 }